
ion-header ion-toolbar{
    --background: translucent;
    background-image: url(/assets/images/tab1/dokter.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}