<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Hotel Panama Garden</ion-card-title>
      </ion-card-header>
      
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
