
<ion-content [fullscreen]="true">
  <!-- header -->
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <p style="color: wheat; font-size: 15px;"><ion-icon name="location-outline"></ion-icon>
          <ion-label>Batam</ion-label></p>
        <h2 class="text-height" style="color:white;">
          <strong><span style="color: red; text-align: left;">T</span>elemedicine</strong>
          <p class="ion-float-start">Like Never Before</p>
        </h2>
      </ion-title>
      <ion-searchbar placeholder="search for a doctor"> 
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>

  

  <!-- ion slides -->
  <ion-list>
    <ion-list-header>
      <ion-label><b>Popular Condition</b></ion-label>
      <ion-button style="font-size: 10px; text-transform: none;">See All</ion-button>
    </ion-list-header>
  <ion-slides [options]="slidebaru">
    <ion-slide *ngFor="let page of pages">
      <ion-card class="ion-activatable">
        <img src="{{page.thumb}}" style="max-width: 100%;
          height: 70px; background-color: white; font-size: 20px;" />
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label style="color:black">
          {{page.title}}
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-list>
  <!-- end slides -->

  <!-- top doctor -->

  <!-- list dorctor -->

  <ion-list class="margin-bottom ion-no-padding">
    <ion-list-header><b>Top Doctors</b></ion-list-header>
    <ion-card *ngFor="let page of doctor" style="box-shadow: none;">
      <ion-item class="ion-activatable" lines="none">
        <ion-thumbnail slot="start">
          <img src="{{page.image}}" style="border-radius:15px;" />
          <ion-ripple-effect></ion-ripple-effect>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap text-height">
          <strong>{{page.name}}</strong>
          <p><br/></p>
          <span class="bullet"> </span>
          <p style="margin-left: 10px;">{{page.description}}</p>
        </ion-label>
        <ion-note item-end>{{date}}</ion-note>
        <ion-button fill="outline" size="small" shape="round"
          style="text-transform: none;  right: 0px;  position: absolute;" color="danger">Reservation
        </ion-button>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>