<ion-fab vertical="top" horizontal="end" slot="fixed" style="top: 120px; right: 40px;">
    <ion-fab-button color="light" size="small">
        <ion-icon name="sync-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-fab vertical="top" horizontal="start" slot="fixed" style="top: 10px;">
    <ion-fab-button color="tint" size="small">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>



<ion-fab vertical="top" horizontal="end" slot="fixed" style="z-index: 9; top: 10px;">
    <ion-card class="videocall"> 
    </ion-card>
</ion-fab>


<div class="background">
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom: 30px; right: 30px;">
    <ion-fab-button color="tint" size="small">
        <ion-icon color="light" name="camera-reverse-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" style="bottom: 40px;">
    <ion-fab-button color="danger">
        <ion-icon name="call"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="start" slot="fixed" style="bottom: 30px; left: 30px;">
    <ion-fab-button color="tint" size="small">
        <ion-icon color="light" name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>