ion-content ion-toolbar {
  --background: translucent;
}

ion-content ion-card{

width: 100%;
}

.videocall{
  height: 130px;
  width: 100px;
  background-image: url(/assets/images/tab1/c.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.background{
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background-image: url(/assets/images/tab1/b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}